/* Table of content
00. Reset
  0. Global variables
  1. Global styles
  2. typography
  3. Layout
  4. Components
  */

/* ================
    Reset
    ================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--btn-secondary-color);
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* ================
  Global variables
  ================*/
:root {
  --accent-color: hsla(335, 72%, 60%, 0.897);
  --hdr-color: hsl(195, 47%, 40%);
  --text-primary: hsla(0, 0%, 5%, 0.95);
  --text-secondary: hsla(0, 0%, 85%, 0.9);
  --btn-color: hsla(0, 5%, 48%, 0.9);
  --btn-secondary-color: hsla(0, 3%, 30%, 0.9);
}

/* ================
  Global styles
  ================*/
body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: var(--hdr-color);
  color: var(--text-secondary);
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

button {
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
  height: 2.5em;
  text-indent: 0px;
  text-shadow: none;
  font-style: normal;
  letter-spacing: normal;
  word-spacing: normal;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.5;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover,
button:focus,
button:active {
  background-color: var(--accent-color);
}

button:disabled {
  background: #dddddd;
  color: hsl(0, 0%, 35%);
  cursor: not-allowed;
}

footer {
  background-color: var(--hdr-color);
  text-align: center;
  color: hsla(0, 0%, 100%, 0.7);
  padding: 1rem;
}

/* ================
Typography
================*/

/* ================
Layout
================*/

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateAndPlacePicker {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* ================
Components
================*/

.site-title {
  text-align: center;
}

.download {
  display: inline-block;
  background-color: var(--btn-color);
  box-shadow: 0 5px 0 var(--btn-secondary-color);
  color: white;
  margin: 1rem;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.download:hover {
  background-color: var(--btn-secondary-color);
  text-decoration: underline;
  cursor: pointer;
}
.download:active {
  box-shadow: none;
  top: 5px;
}
.download:visited {
  box-shadow: 0 5px 0 purple;
}

.leaflet-div-icon {
  background: #00000000;
  border: none;
}

.navList {
  background-color: var(--text-secondary);
  margin: 0;
}

.navItem {
  padding: 1rem;
}

.navItem:hover {
  background-color: var(--accent-color);
}

.navItem:hover > a {
  color: var(--text-secondary);
}

.navLink {
  text-decoration: none;
  font-weight: 600;
  color: var(--accent-color);
}

.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 3em;
  line-height: 3;
  background: var(--btn-color);
  overflow: hidden;
  border-radius: 0.25em;
  margin-bottom: 2em;
}

select {
  flex: 1;
  padding: 0 1em;
  color: white;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: var(--hdr-color);
  background: var(--btn-secondary-color);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
/* Transition */
.select::after:hover {
  color: var(--accent-color);
}
